# ***************************************************************************
# Broadcom Proprietary and Confidential. (c)2016 Broadcom. All rights reserved.
#
# THIS SOFTWARE MAY ONLY BE USED SUBJECT TO AN EXECUTED SOFTWARE LICENSE
# AGREEMENT  BETWEEN THE USER AND BROADCOM.  YOU HAVE NO RIGHT TO USE OR
# EXPLOIT THIS MATERIAL EXCEPT SUBJECT TO THE TERMS OF SUCH AN AGREEMENT.
#
# ***************************************************************************
include config/sec-zeus421.cfg

# BOLT memory layout & sections in FLASH

# Fill character
gset FILLB		0xff
gset BOLT_TEXT_ADDR	0xe0000000

# Flash partition information for "bolt", "firstimage", and "secondimage"
# partitions.  Must be customized when booting from NAND.
#
# =>        "bolt" partition always starts at offset 0x0.
# =>  "firstimage" partition contains First BFW, AVS, and MemsysFW Images.
# => "secondimage" partition contains Second BFW, AVS, and MemsysFW Images.
gset BOLT_PART_SIZE		0x00200000
gset SECONDIMAGE_PART_OFFS	0x0
gset SECONDIMAGE_PART_SIZE	0x00200000
gset FIRSTIMAGE_PART_OFFS	0x0
gset FIRSTIMAGE_PART_SIZE	0x00200000

# FSBL code occupies 0x00 - 0x40 (64b), 0x0960 - 0x9400 (34.6Kb)
# Have FSBL code occupy the first 26Kb
section -name FSBL		-off 0x00000	-size 0x00006800 #max:0x9400
section -name BBL		-off 0x096F0	-size 0x00016910
# Second Upgradable Firmware Set (SUFS) - Default for E1 BOLT
# 0x020000 - 0x066000 (0x46000)
section -name BFW		-off 0x00020000	-size 0x00031000
section -name AVS		-off 0x00051000	-size 0x00005000
section -name MEMSYS		-off 0x00056000	-size 0x0000FC00
# MCB data + boards info, total max size is 0x6000.
section -name SHMOO		-off 0x00066000	-size 0x00001000
section -name BOARDS		-off 0x00068000	-size 0x00002000
# GAP (reserved)
section -name GAP		-off 0x0006C000	-size auto
section -name SSBL		-off 0x0006D000	-size 0x00070000
# First Upgradable Firmware Set (FUFS)
# 0x100000 - 0x146000 (0x46000)
#section -name FIRST_BFW		-off 0x100000	-size 0x00031000
#section -name FIRST_AVS		-off 0x131000	-size 0x00005000
#section -name FIRST_MEMSYS	-off 0x136000	-size 0x0000FC00


# SSBL DDR placements
#
#              |       SSBL code       |
#  0x0700_8000 +-----------------------+ SSBL_RAM_ADDR (start of SSBL)
#              | 2nd level page tables |
#              | (guard, sram, ... )   |
#  0x0700_4000 +-----------------------+ SSBL_PAGE_TABLE + 0x4000
#              | 1st level page table  |
#  0x0700_0000 +-----------------------+ SSBL_PAGE_TABLE
#              |       board info      |
#              +-----------------------+ SSBL_PAGE_TABLE - SSBL_BOARDINFO_SIZE
#
gset SSBL_PAGE_TABLE         $DDR0_BASE+0x07000000
gset SSBL_BOARDINFO_SIZE     0x4000
gset SSBL_BOARDINFO          $SSBL_PAGE_TABLE-$SSBL_BOARDINFO_SIZE
# The 1st-level page table maps 4GB worth of virtual address space.
# Each 32-bit section entry maps a 1MB region.
# (4GB / 1MB) * 4 = 1st-level PT size
gset SSBL_PAGE_TABLE_SIZE    0x4000
gset SSBL_PAGE_TABLE_2_SIZE  0x400
gset SSBL_PAGE_TABLE_2       $SSBL_PAGE_TABLE+$SSBL_PAGE_TABLE_SIZE
gset SSBL_PAGE_TABLE_2_SRAM  $SSBL_PAGE_TABLE_2+$SSBL_PAGE_TABLE_2_SIZE
gset SSBL_RAM_ADDR           $DDR0_BASE+0x07008000

#  BOLT currently uses a 32 bit memory space
# and the 'device' (ebi & rdb) regions span
# from 0xe0000000 to 0xfff00000 within it.
#  This is a 3Gbyte (maximum) DDR memory mapping
#  (LSH by 1MB for memtop.) It does not affect
# Linux as that does its own page table mapping.
cset MMU_MEMTOP       0x0c00

# Memsys lives in the upper 64KiB SRAM
# and is 62KiB in size. The fixed
# MCBs (2 off) live after the memsys code.
gset MEMSYS_SRAM_ADDR	0xffe10000
# For 2KiB of 'fixed' MCBs @ MEMSYS offset + 61KiB.
gset MEMSYS_MCB_OFFSET	0xf400
gset MEMSYS_MCB_ADDR	$MEMSYS_SRAM_ADDR+$MEMSYS_MCB_OFFSET


# For flash-partitions.c.in bolt(1MiB max), kernel(6MiB min)
#
# IMPORTANT: If the First Upgradable Firmware Set is used this value may
# increase to accomodate it. An effect of increasing (or decreasing by
# more than one flash eraseblock) is to shift the flash partitions so the
# environment variables and MAC address saved in flash0.nvram and
# flash0.macadr disappear, as well as possibly altering the start addresses
# of other partitions.
gset BOLT_IMG_MAX 0x100000
gset KERN_IMG_MIN 0x600000

ldfile -in config/smm-64.lds.in
ldfile -in config/stub-64.lds.in
ldfile -in config/psci32.lds.in
ldfile -in config/fsbl-stub.lds.in -rename fsbl.lds
ldfile -in config/shmoo.lds.in
ldfile -in config/boards.lds.in
ldfile -in config/memsys-zeus421.lds.in -rename memsys.lds
ldfile -in config/ssbl.lds.in
ldfile -in config/bolt-stub.lds.in -rename bolt.lds
