# ***************************************************************************
# Broadcom Proprietary and Confidential. (c)2017 Broadcom. All rights reserved.
#
# THIS SOFTWARE MAY ONLY BE USED SUBJECT TO AN EXECUTED SOFTWARE LICENSE
# AGREEMENT  BETWEEN THE USER AND BROADCOM.  YOU HAVE NO RIGHT TO USE OR
# EXPLOIT THIS MATERIAL EXCEPT SUBJECT TO THE TERMS OF SUCH AN AGREEMENT.
#
# ***************************************************************************

# To use First BFW, AVS, and MemsysFW images set
# USE_FIRST_IMAGE to 1, else it must always be
# set to 0. See also: fsbl/fsbl-secparams.c
#
gset USE_FIRST_IMAGES	1

# --------------------------------------------------------------------------
#		Architecture related definitions
# --------------------------------------------------------------------------
gset FLASH_MAP_VER	0x1

gset AVS_CODE_SIZE	0x3A00
gset AVS_DATA_SIZE	0xD80

gset SEC_PARAM_OFFSET	0xD000
gset SEC_PARAM_START	$SRAM_ADDR+$SEC_PARAM_OFFSET
gset SEC_PARAM_LEN	0x400
gset SEC_PARAM_OFFSET_FLASH		0xD000
gset SEC_PARAM_START_SRAM	$SRAM_ADDR+$SRAM_LEN-1024

# Offset of metadata describing the contents of an Upgradable Firmware Set.
# See: scripts/postpatch.pl
gset UFS_PARAMS		0x30800


# --------------------------------------------------------------------------
# If STUB64_START is defined then the build will be configured to include
# 64 bit components with 32 & 64 bit PSCI support.
# Alignment is important here for this, and the following code
# in the fsbl.init section. Bits 0 & 1 must be zero (word
# aligned.)
# --------------------------------------------------------------------------
gset STUB64_OFFSET 0x40
gset STUB64_START  $SRAM_ADDR+$STUB64_OFFSET
gset STUB64_SIZE   0x400

gset BFW_RAM_BASE $DDR0_BASE+0x7000000
gset PSCI_BASE $DDR0_BASE+0x7041000
gset PSCI_SIZE 0xE000
